server:
  port: 9000

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: STUDENTSERVICE
          uri: lb://STUDENTSERVICE
          predicates:
            - Path=/students/**        
        - id: SCHOOLSERVICE
          uri: lb://SCHOOLSERVICE
          predicates:
            - Path=/schools/**
          

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true